*
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: rgb(0, 2, 47);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1.5em 10em 0 10em;
  }
  
  main {
    position: relative;
    background-color: rgb(12, 12, 28);
    border-radius: 0.5em 0.5em 0 0;
    color: rgb(255, 255, 255);
    padding: 1em;
    text-align: center;
    background-image: url(images/197281.jpg); /* Replace with your image path */
    background-size: cover;
    background-position: center center;

    box-shadow: 0 2em 3em rgba(0, 0, 0, 0.5); /* Adjust values as needed */
  }

  main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 0.01em rgb(165, 165, 165);
    border-radius: 0.5em 0.5em 0 0 ;
    background-color: rgba(10, 2, 60, 0.70); /* Adjust the color and opacity */
    z-index: 1; /* Place the overlay below the content */
  }
  
  /* Adjust the z-index to ensure the content is above the overlay */
  .content {
    position: relative;
    z-index: 2;
  }
  
  .batmanEnemies {
    display: flex;
    justify-content: space-around;
    max-width: 2500px;
  }
  
  .enemyContainer {
    border: solid 0.01em rgb(165, 165, 165);
    width: 100%;
  }
  
  .enemyContainer + .enemyContainer {
    margin-left: 10px;
  }

  img {
    width: 100%;
  }

  footer {
    background-color: rgb(12, 12, 28);
    border: solid 0.01em rgb(165, 165, 165);
    border-radius: 0 0 0.5em 0.5em;
    color: rgb(165, 165, 165);
    margin-top: .5em;
    padding: 1em;
    text-align: center;
    background-image: url(images/black-grunge-texture.jpg);
    background-size: cover;
    background-position: center;
  }

  .footCopyright {
    color: rgb(165, 165, 165);
    font-size: 0.75rem;
    text-decoration: none;
  }
  
  .footMenu a {
    color: rgb(165, 165, 165);
    font-size: 0.75rem;
    text-decoration: none;
    margin-left: 1em;
  }

 